@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.header {
  height: 400px;
  background-image: url("./images/Coffee.jpg");
  background-position: center;
  background-size: cover;
}

h1 {
  font-family: "Covered By Your Grace", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  text-align: center;
  padding-top: 115px;
  color: rgba(3, 150, 100, 0.75);
}

.main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

/* top left right bottom */
.left, .right,.center {
    width: 25%;
    margin: 3%;
}
