@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");

* {
  margin: 0;
}

body {
  font-family: Poller One;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 217, 0);
  background-image: url(./images/sky.jpg);
  background-attachment: fixed;
}

header {
  background-color: rgba(60, 69, 67, 0.6);
  /* закругление углов у элемента */
  border-radius: 300, 300, 0, 0;
}

h1,
h2 {
  text-align: center;
}
h1 {
  font-size: 2.2em;
}

ul {
  list-style: none;
  padding: 0;
  position: fixed;
  display: flex;
  top: 5px;
  left: 40px;
}

.left {
  float: left;
  width: 25%;
}

.left > img {
  width: 100%;
}

.right {
  float: right;
  width: 50%;
  border: 1px solid rgba(255, 217, 0);
  display: flex;
  flex-wrap: wrap;
}

h2 {
    width: 100%;
}

.right > img {
    width: 33%;
}