@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

* {
    margin: 2%;
  }

body {
  background-image: url(./simple-blue-stars-seamless-pattern-design-star-background-vector.jpg);
  background-attachment: fixed;
  font-family: Rubik Bubbles;
  font-weight: 400;
  font-style: normal;
}

input {
  width: calc(100% - 100px);
}

@media (max-width: 800px) {
  .container {
    max-width: 600px;
  }
}

.add {
  background-color: #4e5b6d; /* Green */
  border-radius: 5%;
  border-color: darkslategray;
  color: rgb(220, 224, 231);
  padding: 3px 12px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}
